# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build folders
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment & Secrets
.env
.env.*
*.pem

# TypeScript
*.tsbuildinfo

# Generated native folders (Expo managed)
/ios
/android

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
